@charset "utf-8";
Body
{
	padding: 0;
	margin: 0;
	z-index: 1;
}
img
{
	position: absolute;
	z-index: 100;
}
.skull1
{
	left: 820px;
	top: 155px;
	z-index: 1000;
	opacity:1;
}
.skull2
{
	left: 825px;
	top: 165px;
	z-index: 1000;
	opacity:0;
}
.skull2:hover
{
	opacity:1;
	transition:4s;
}